@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

body{
    font-family: "Inter", sans-serif;
    background-color: black;
}

*{
    margin: 0;
    padding: 0;
}

h2{
    font-size: 78px;
    font-weight:900;
    color: white;
}
h3{
    font-size: 3rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

h4{
    font-size: 2rem;
    font-weight: 900;
    color: rgb(255, 255, 255);
}

h5{
    font-size: 18px;
    font-weight: 600;
    color: rgb(255, 255, 255);
    margin-bottom: .5rem;

}
p{
   color: rgba(255, 255, 255, 0.5);
   font-size: 14px;
}

/* banner style */

.banner-container{
    width: 1440px;
    height: 715px;
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

.nav-container{
    display: flex;
    justify-content: space-between;
    margin: 30px 150px;
    align-items: center;
}
i{
    color: red;
    font-size: 36px;
    font-weight: 800;
}
#bar{
    color: rgb(255, 255, 255);
    display: none;
}
.nav-items{
    width: 465px;
    height: 38px;
    color: white;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items:center;

}

.home{
    border-radius: 40px;
    padding: 5px 15px;
    color: white;
    background-color: red;
    font-size: 18px;
    font-weight: 600;
}

.banner-body{
    margin-top: 0;
    margin-left: 150px;
    display: flex;
    gap: 200px;
    /* justify-content: space-around; */

}

.title{
    margin-bottom: 2rem;
}

.shape{
    font-family: "Great Vibes", cursive;
}

.primary-btn{
    background-color: rgb(230, 83, 60);
    color: rgb(255, 255, 255);
    padding: 1rem 2rem;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 40px;
    border: none;
    margin-top: 1.5rem;
}

.download{
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    color: rgb(255, 255, 255);
    padding: 1rem 2rem;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 40px;
    margin-top: 1.5rem;
    margin-left: 1rem;
}

.cover-img{
    width: 350px;
    height: 580px;
    position: relative;
    
}

.free-videos{
    width: 120px;
    height: 90px;
    border-radius: 10px;
    padding: 10px 20px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    bottom: 28rem;
    right: 16rem;
    
}

.tutorial{
    width: 130px;
    height: 80px;
    border-radius: 10px;
    border-radius: 10px;
    padding: 10px 20px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    bottom: 9rem;
    right: 35rem;

}

#circle{
    width: 35px;
    height: 35px;
    background-color: red;
    border-radius: 50%;
}

/* Change your habit section */

.change-habit-container{
    width: 1050px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.habit-items-container{
    margin-top: 2rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.habit-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

.habit-items, img{
    margin-bottom: 2rem;
    border-radius: 50%;
}

#habit{
    margin-bottom: 1.5rem;
}
